# API de Filmes (Base URL)
CUBOS_MOVIES_API_BASE_URL=http://localhost:5000

# Banco de Dados (PostgreSQL)
DATABASE_URL=postgresql://postgres:password@localhost:5432/cubos_movies_db?schema=public

# Better Auth
BETTER_AUTH_SECRET=seu_segredo_de_autenticacao_aqui
BETTER_AUTH_URL=http://localhost:3000

NEXT_PUBLIC_IMAGES_HOST=www.figma.com